/*******************************************************
*
* Mobile styles and other media queries
*
*******************************************************/

/* iPad(landscape) | iPad(landscape) | Galaxy Tab 4 (landscape) | Galaxy Tab 3 (landscape) */

@media only screen and (min-width: 992px) {
}
  
@media only screen and (max-width: 1485px) {
  
}

@media only screen and (max-width: 1450px) {
  /* 1367 */
  .thumbnail {
    left: 46%;
}

.rht-img {
  width: 400px;
  height: 300px;
  top: 140px;
}
}

@media only screen and (max-width: 1366px) {
  /* 1200 */
  .thumbnail {
  left: 42%;
  }

  .thumbnail .item {
    width: 140px;
    height: 70px;
}

.arrows button {
  width: 45px;
  height: 45px;
}

.arrows {
  left: 183px;
  gap: 50px;
}

.carousel .des {
  width: 560px;
}
}

@media only screen and (max-width: 1199px) {
  /* 992 */

  .nav-container a {
    color: #ffffff;
    margin-right: 31px;
    font-size: 14px;
}

nav {
  left: 43px;
  position: relative;
}

.nav-container img {
  display: none;
}
  .carousel .list .item .title, .carousel .list .item .topic {
    font-size: 4em;
  }

  .carousel .list .item .content {
    left: 43%;
  }

  .carousel .des {
    width: 500px;
}

.rht-img {
  width: 360px;
  height: 271px;
  right: 70px;
}
.carousel .list .item .buttons button {
  width: 130px;
}

.carousel .list .item .buttons button {
  width: 130px;
  height: 40px;
}


.thumbnail .item {
  width: 120px;
  height: 70px;
}

.thumbnail .item .content {
  top: 30px;
  left: 17px;
  font-size: 12px;
}

.arrows {
  left: 147px;
  gap: 46px;
}

}

/* iPad(portrait) | Galaxy Tab 4(portrait) */

@media only screen and (max-width: 991px) {

  /* 768 */

  nav {
    left: 141px;
}

  .thumbnail .item img {
    height: 92%;
    object-fit: cover;
    border-radius: 9px;
}

.thumbnail {
  width: 408px;
  overflow: hidden;
}

.rht-img {
  width: 320px;
  height: 245px;
  right: 38px;
}

.cnt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel .des {
  width: 350px;
}

.carousel .list .item .buttons {
  position: relative;
  left: 137px;
}

.carousel .list .item .title, .carousel .list .item .topic {
  font-size: 3em;
}

}

/* Galaxy Tab 3(portrait) | Galaxy S5(landscape) */

@media only screen and (max-width: 767px) {
  /* 481 */

  .header-nav  {
    display: none;
}
.carousel {
  height: 154vw;
  width: 108vw;
}

.thumbnail {
  width: 268px;
  left: 138px;
}

.arrows {
  width: 76%;
  max-width: 100%;
  left: 14%;
  justify-content: space-between;
}

}
/* Galaxy S5(portrait) | iPod Touch(landscape) | iPod Touch(portrait) */

@media only screen and (max-width: 480px) {
/* 430 */
}
  